@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

$primary-typeface: "League Spartan";
$fw-normal: 400;
$fw-medium: 500;
$fw-large: 700;
$dark-magenta-deep: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$grayish-magenta-dark: hsl(303, 10%, 53%);
$grayish-magenta-light: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
$fz-primary: 15px;
